/* 全局页面 */
page {
	height: 100%;
	font-size: 28upx;
	line-height: 1.8;
	background-color: #FFFFFF;
}

/* 全局主背景颜色 */
/* .main_bg_color {
	background-color: #403873;
} */

/* 全局主渐变颜色 */
.main_gradient_color {
	background: -webkit-linear-gradient(top, #4B0082, #8A2BE2, #eeeeee);
}

/* 全局页面 */
.main_page {
	padding: 10rpx;
}

/* 全局内边距 */
.main_padding_10rpx {
	padding: 10rpx;
}

/* 全局外边距 */
.main_margin_20rpx {
	margin: 20rpx;
}

/* 全局字体颜色 */
.color_grey {
	color: grey;
}

.color_green {
	color: green;
}

.color_white {
	color: white;
}

.color_gold {
	color: gold;
}

.color_black {
	color: black;
}

.color_red {
	color: #EE0A24;
}

.color_orge {
	color: #e26843;
}

.color_dorge {
	color: #FF8C00;
}

.color_chola {
	color: #FF7F24;
}

.color_blue {
	color: #42A5F5;
}

.tips {
	margin: 10rpx;
	font-size: 12px;
}

.text_tips_spring {
	color: rgb(33, 207, 111);
}

.text_tips_red {
	color: #EE0A24;
}

/* 开始状态 */
.begin_text {
	border-radius: 8rpx;
	padding: 4rpx;
}

/* 卡片盒子 */
.card_box {
	position: relative;
	margin-top: 10rpx;
}

/* 卡片背景图片 */
.card_bg_img {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
	width: 100%;
	height: 100%;
	border-radius: 18rpx;
	overflow: hidden;
	/* filter: opacity(80%); */
}

/* 卡片 */
.card {
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 2;
	margin-top: 15rpx;
	padding: 10rpx;
	display: flex;
	backdrop-filter: blur(4px);
	border-radius: 18rpx;
	border-top: white solid 6rpx;
	border-left: white solid 6rpx;
	background: rgba(180, 180, 180, 0.7);
	box-shadow: 4px 4px 8px rgba(141, 138, 138, 0.6);
}

.card_img {
	width: 200rpx;
	height: 200rpx;
}

.card_img image {
	width: 100%;
	height: 100%;
	border-radius: 10rpx;
	overflow: hidden;
}

.card_text {
	width: 70%;
}

.card_text view {
	margin-top: 6rpx;
	margin-left: 10rpx;
}

.card_text_row_box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.card_text_h1 {
	font-size: 18px;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.card_text_h2 {
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.card_text_h3 {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.card_text_h4 {
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

/* 底部填充盒子 */
.bottom_fill_box {
	height: 100upx;
}

/* 表单样式 */
.cu-form-group {
	background: #fff;
	display: flex;
	align-items: center;
	min-height: 100rpx;
	justify-content: space-between;
}

.cu-form-group+.cu-form-group {
	border-top: 1rpx solid #eee;
}

.cu-form-group .title {
	text-align: justify;
	padding-right: 30rpx;
	font-size: 30rpx;
	position: relative;
	height: 60rpx;
	line-height: 60rpx;
}

.cu-form-group.top {
	align-items: baseline;
}

.cu-form-group input {
	flex: 1;
	font-size: 30rpx;
	color: #555;
	padding-right: 20rpx;
}

.cu-form-group>text[class*="icon"] {
	font-size: 36rpx;
	padding: 0;
	box-sizing: border-box;
}

.cu-form-group textarea,
.cu-form-group textarea textarea {
	margin: 32rpx 0 30rpx;
	height: 4.8em;
	width: 100%;
	line-height: 1.2em;
	flex: 1;
	font-size: 28rpx;
	padding: 0;
	box-sizing: content-box;
	display: inline-block;
	vertical-align: top;
}

.cu-form-group textarea::after {
	content: "测试文字";
	opacity: 0;
}

.cu-form-group .grid-square {
	margin: 20rpx 0 0;
}

.cu-form-group picker {
	flex: 1;
	overflow: hidden;
	position: relative;
}

.cu-form-group picker .picker {
	line-height: 100rpx;
	font-size: 28rpx;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 100%;
	text-align: right;
}

.cu-form-group picker::after {
	font-family: iconfont;
	display: block;
	position: absolute;
	font-size: 34rpx;
	color: #aaa;
	line-height: 100rpx;
	width: 60rpx;
	text-align: center;
	top: 0;
	bottom: 0;
	right: -10rpx;
	margin: auto;
}

.cu-form-group textarea[disabled],
.cu-form-group textarea[disabled] .placeholder {
	color: transparent;
}

/* grid布局 */

.grid {
	display: flex;
	flex-wrap: wrap;
}

.grid.grid-square {
	overflow: hidden;
}

.grid.grid-square .cu-tag {
	position: absolute;
	right: 0;
	top: 0;
	border-bottom-left-radius: 6rpx;
	height: auto;
}

.grid.grid-square>view>text[class*="icon_"] {
	font-size: 50px;
	position: absolute;
	color: var(--grey);
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.grid.grid-square>view {
	margin-right: 20rpx;
	margin-bottom: 20rpx;
	border-radius: 6rpx;
	position: relative;
	overflow: hidden;
}

.grid.grid-square>view.bg-img image {
	width: 100%;
	height: 100%;
	position: absolute;
}

.grid.col-1.grid-square>view {
	padding-bottom: 100%;
	height: 0;
	margin-right: 0;
}

.grid.col-2.grid-square>view {
	padding-bottom: calc((100% - 20rpx)/2);
	height: 0;
	width: calc((100% - 20rpx)/2);
}

.grid.col-3.grid-square>view {
	padding-bottom: calc((100% - 40rpx)/3);
	height: 0;
	width: calc((100% - 40rpx)/3);
}

.grid.col-4.grid-square>view {
	padding-bottom: calc((100% - 60rpx)/4);
	height: 0;
	width: calc((100% - 60rpx)/4);
}

.grid.col-5.grid-square>view {
	padding-bottom: calc((100% - 80rpx)/5);
	height: 0;
	width: calc((100% - 80rpx)/5);
}

.grid.col-2.grid-square>view:nth-child(2n),
.grid.col-3.grid-square>view:nth-child(3n),
.grid.col-4.grid-square>view:nth-child(4n),
.grid.col-5.grid-square>view:nth-child(5n) {
	margin-right: 0;
}

.grid.col-1>view {
	width: 100%;
}

.grid.col-2>view {
	width: 50%;
}

.grid.col-3>view {
	width: 33.33%;
}

.grid.col-4>view {
	width: 25%;
}

.grid.col-5>view {
	width: 20%;
}

.flex-sub {
	flex: 1;
}

.bg-img {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* 字体图标 */
@font-face {
	font-family: "iconfont";
	/* Project id 2815905 */
	src: url('//at.alicdn.com/t/font_2815905_7xmaebzmi5r.woff2?t=1633942405224') format('woff2'),
		url('//at.alicdn.com/t/font_2815905_7xmaebzmi5r.woff?t=1633942405224') format('woff'),
		url('//at.alicdn.com/t/font_2815905_7xmaebzmi5r.ttf?t=1633942405224') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_x_img:before {
	content: "\e8e8";
}

.icon_add_img:before {
	content: "\e785";
}
